.allFeaturesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.allFeaturesContainer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.allFeaturesWrapper {
    width: 80vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 50vh;
}

.allFeaturesSlider {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;

    transition: left 250ms ease-in-out;
}

.featureContainer {
    width: 80vw;
    flex-shrink: 0;
}

.imageContainer {
    width: 100%;
}

.featureImage {
    height: 35vh;
    width: 100%;
    object-fit: contain;
    background-color: white;
}

.featureImage {}

.textContainer {}

.titleContainer {
    text-align: center;
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
}

.description {
    text-align: justify;
    width: 80%;
}

.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 35%;
    height: 1.25rem;
}

.navButton {
    width: 3.5rem;
    height: 1.25rem;
    background-color: black;
    cursor: pointer;

    transition-property: height, background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}